.demonstration-page {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  min-height: 120vh;
  margin-top: 20px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

.demonstration-header {
  font-size: calc(10px + 2vmin);
  margin-bottom: 200px;
}

.demonstration-body {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.demonstration-body-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 800px;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.demonstration-body-content > img {
  height: 600px;
}

.demonstration-body-content .demonstration-body-content-text {
  font-size: calc(8px + 2vmin);
  text-align: justify;
  width: 400px;
  margin: 120px;
}
