div .containerNavBar {
  background-color:rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  left: 0;
}

div .containerNavBar img {
  cursor: pointer;
  width: 80px;
}

div .contentNavBar{
    padding:  10px 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

li a{
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

li a:hover{
    color: #0088a9;
}


