div .container {
  background-color: #343a40;
}

div .container img {
  cursor: pointer;
  width: 80px;
}

div .content{
    padding:  10px 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

li a{
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

li a:hover{
    color: #0088a9;
}


