div .containerTimer {
  background-color: #ffff00;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

span {
  color: #000000;
  text-decoration: none;
}

div .contentTimer {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* div .containerTimer .contentTimer {
} */

div .containerTimer .cronometro {
    font-size: 32px;
}
