div .containerTimer {
  background-color: #ffff00;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

.containerTimer .timer-closeButton{
  position: absolute;
  right: 0;
  cursor: pointer;
  font-weight: 400;
  margin-right: 10px;
}

.containerTimer .contentTimer .desc-promo {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.contentTimer {
  height: 22px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.containerTimer .contentTimer .desc-promo > a{
  text-decoration: none;
}